LibraryClient/Service References/ServiceReference/Library.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Library" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Library" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookInfo" nillable="true" type="tns:BookInfo" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:complexType name="BookInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookInfo" nillable="true" type="tns:BookInfo" />
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookID" type="xs:int" />
      <xs:element minOccurs="0" name="Stan" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="BookExceptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookExceptions" nillable="true" type="tns:BookExceptions" />
</xs:schema>